<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CyclingCode.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D2D4319DFF7938E36200D10D52F7A673DE8F348C</string>
				<key>dateExpires</key>
				<string>01/07/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8LHATU4WP9.nl.appicsoftware.cyclingcode</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>8LHATU4WP9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>8LHATU4WP9.nl.appicsoftware.cyclingcode</string>
				</array>
			</dict>
			<key>name</key>
			<string>Cycling Code.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>04c4adac-18e7-4eae-8f44-b25ba894556b</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8LHATU4WP9</string>
				<key>name</key>
				<string>Ricardo Groothedde</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
