<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CyclingCode.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>35ED771631D5A096F9F0C7A79B2B3038FDFFCACF</string>
				<key>dateExpires</key>
				<string>21/06/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8LHATU4WP9.com.appicsoftware.cyclingcode</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8LHATU4WP9</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>8LHATU4WP9.com.appicsoftware.cyclingcode</string>
				</array>
			</dict>
			<key>name</key>
			<string>CyclingCode.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6a0c5b7-8749-48c2-8df3-6629057ea7c9</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8LHATU4WP9</string>
				<key>name</key>
				<string>Ricardo Groothedde</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
